html,
body {
  margin: 0;
}

body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}
.content {
  display: flex;
  padding: 20px;
}
header {
  align-items: center;
  display: flex;
  padding: 20px;
  gap: 20px;
  border: 2px solid black;
}
header button:last-child {
  margin-left: auto;
}
.sidebar {
  display: flex;
  padding: 20px;
}
.container {
  width: calc(90% - 20px);
  margin: 0 auto;
  display: grid;
  gap: 20px;
}
.container div {
  border: 2px solid black;
  min-height: 80px;
}

footer,
main,
aside,
.box,
[class*="section"] {
  border: 2px solid black;
  min-height: 200px;
}
footer {
  display: grid;
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
  }
  header {
    grid-column: span 12;
  }

  .box {
    grid-column: span 4;
  }
  .content,
  .sidebar {
    grid-column: span 6;
  }
  footer {
    grid-column: span 12;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .box1,
  .box3 {
    grid-column: span 3;
  }
  .box2 {
    grid-column: span 6;
  }
  .content {
    grid-column: span 8;
  }
  .sidebar {
    grid-column: span 4;
  }
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .box1,
  .box3 {
    grid-column: span 2;
  }
  .box2 {
    grid-column: span 8;
  }
  .content {
    grid-column: span 9;
  }
  .sidebar {
    grid-column: span 3;
  }
}
